Puzzle Bobble 3;sdlmame;pbobble3
Magical Drop 2;sdlmame;magdrop2
Magical Drop 3;sdlmame;magdrop3
Puyo Puyo 2;sdlmame;puyopuy2
1944;sdlmame;1944
19xx;sdlmame;19xx
1945k 3;sdlmame;1945kiii
Gunlock;sdlmame;gunlock
Progear;sdlmame;progear
Gigawing;sdlmame;gigawing
Last Resort;sdlmame;lresort
Metal Slug;sdlmame;mslug
Metal Slug 2;sdlmame;mslug2
Metal Slug 3;sdlmame;mslug3
Powered Gear;sdlmame;pgear
Shock Troopers;sdlmame;shocktro
Shock Troopers 2;sdlmame;shocktr2
Double Dragon;sdlmame;ddragon
Double Dragon 2;sdlmame;ddragon2
Alien Versus Predator;sdlmame;avsp
Street Fighter 2;sdlmame;ssf2
Samourai Showdown 2;sdlmame;samsho2
Samourai Showdown 4;sdlmame;samsho4
Garou;sdlmame;garou
Last Blade 2;sdlmame;lastbld2
SNK vs Capcom;sdlmame;svcpcb
King Of Fighters 98;sdlmame;kof98
Mortal Combat 2;sdlmame;mk2
Real Bout Fatal Fury;sdlmame;rbffspec
Pacman Plus;sdlmame;pacplus
Ms Pacman;sdlmame;mspacman
Parodius DA;sdlmame;parodius
DoDonPachi;sdlmame;ddonpach
Radiant Silvergun;sdlmame;rsgun
Donkey Kong;sdlmame;dkong
Donkey Kong Jr;sdlmame;dkongjr
Qbert;sdlmame;qbert
Frogger;sdlmame;frogger
Scramble;sdlmame;scramble
Sonic;sdlmame;mp_sonic
Sonic 2;sdlmame;mp_soni2
Streets Of Rage II;sdlmame;mp_sor2
Bomberman;sdlmame;bombrman
Elevator Action Return;sdlmame;elvact2u
Battle Garegga;sdlmame;bgaregga
Darius Gaiden;sdlmame;dariusg
Shadow Dancer;sdlmame;shdancer
Golden Axe;sdlmame;goldnaxe
Altered Beast;sdlmame;altbeast
Tetris;sdlmame;atetris
Dinosaurs and Cadillacs;sdlmame;dino
Kid Chameleon;sdlmame;mt_kcham
